*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}

body{
    width: 100vw;
    max-height: 100vh;
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1C1C1C;
}

.container{
    background-color: #363636;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 25px;
    gap: 20px;
    transition: .2s;
}

#resultado{
    display: flex;
    flex-direction: column;
}

div{
    display: flex;
    flex-direction: column;
}

label{
    color: #fff;
    margin-bottom: 5px;
}

input{
    border: none;
    outline: none;
    padding: 10px;
    background-color: #4F4F4F;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #4F4F4F;
    padding: 5px 10px;
    border-radius: 4px;
    gap: 10px;
}

.icon{
    color: #ccc;
    cursor: default;
}

.input-container > p{
    color: #ccc;
    font-size: smaller;
    cursor: default;
}

button{
    border: 0;
    background-color: #DA70D6	;
    padding: 10px;
    color: #fff;
    border-radius: 4px;
    font-weight: bold;
    transition: .2s;
    cursor: pointer;
}

button:hover{
    background-color: #EE82EE;
}

#resultado{
    margin-top: 20px;
    display: none;
    gap: 10px;
    transition: .2s;
}

span{
    color: #fff;
    text-transform: uppercase;
}

hr{
    border: none;
    background-color: #fff;
    height: 1px;
}