*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}

body{
    width: 100vw;
    max-height: 100vh;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1C1C1C;
}

.container{
    background-color: #363636;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 25px;
    gap: 20px;
    transition: .2s;
}

#resultado{
    display: flex;
    flex-direction: column;
}

div{
    display: flex;
    flex-direction: column;
}

label{
    color: #fff;
    margin-bottom: 2px;
}

input{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 4px;
    background-color: #4F4F4F;
    color: #fff;
}

button{
    border: 0;
    background-color: #e80be8;
    padding: 10px;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    transition: .2s;
    cursor: pointer;
}

button:hover{
    background-color: #EE82EE;
}

#resultado{
    margin-top: 20px;
    display: none;
    gap: 10px;
    transition: .2s;
}

span{
    color: #fff;
    text-transform: uppercase;
}