*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 25px;
    gap: 20px;
    transition: .2s;
}

#resultado{
    display: flex;
    flex-direction: column;
}

div{
    display: flex;
    flex-direction: column;
}

label{
    color: #fff;
}

input{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}

button{
    border: 0;
    background-color: blueviolet;
    padding: 10px;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
}

#resultado{
    margin-top: 20px;
    display: none;
    gap: 10px;
    transition: .2s;
}

span{
    color: #fff;
    text-transform: uppercase;
}